@import url(style.css);

body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color-LR-ST);
}

header {
    background-color: var(--primary-color-LR);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    a {
        text-decoration: none;
        color: var(--secondary-color-LR-ST);
    }
}

#nav1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: max-content;
  height: 50px;
  border: solid 2px var(--secondary-color-LR-ST);
  box-sizing: border-box;

  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 12px; 
    font-family: 'Gontserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color-LR-ST);
    width: max-content;
    transition: color 0.2s ease;

    &:hover {
      color: #f2f2f2;
    }

    /* Le séparateur de 35px */
    &:not(:last-of-type)::after {
      content: "";
      position: absolute;
      right: 0;  
      width: 1px;
      height: 35px;
      background-color: var(--secondary-color-LR-ST);
    }
  }
}

#logo, #footer-logo {
    height: 56px;
    img {
        height: 56px;
    }
}


#profil {
    background-color: var(--secondary-color-LR-ST);
    color: var(--tertiary-color-LR-ST);
    border-radius: 10px;
    width: 84px;
    height: 25px;
    font-size: 1em;
    font-family: Gontserrat;
    border-style: none;
}

#profil:hover {
    background-color: var(--tertiary-color-LR-ST);
    color: var(--secondary-color-LR-ST);
}

#searchBar {
    width: 402px;
    height: 35px;
    border-radius: 10px;
    border: solid 1px var(--secondary-color-LR-ST-contrasted)
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#banner {
  width: 100%;
  height: 270px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Conserve le ratio sans déformer l'image */
    object-position: center; /* Ajuste selon la zone importante (ex: center top) */
  }
}

#titles {
    width: 100vw;
    text-align: center;
    color: var(--primary-color-LR);
    font-family: Gontserrat;
    h2 {
        background-color: var(--secondary-color-LR-ST-contrasted);
        font-weight: 500;
    }
}


h3 {
    color: var(--primary-color-LR);
    border-bottom: solid 1px var(--primary-color-LR);
    align-self: start;
    width: 150px;
    margin-left: 40px;
    padding-bottom: 5px;
    font-family: Gontserrat;
}

#matchCards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around ;
    align-items: center;
}

.cards {
    width: 220px;
    height: 150px;
    background-color: var(--primary-color-LR);
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
}

h4, h5, h6 {
    margin: 0;
    font-family: Gontserrat;
}

.topCard {
    display: flex;
    background-color: var(--secondary-color-LR-ST-contrasted);
    color: var(--primary-color-LR);
    font-weight: lighter;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.home-date-away {
    display: flex;
    justify-content: space-between;
    margin-inline: 7px;
    margin-top: 5px;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--secondary-color-LR-ST);
}

.match-teams {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.home-team, .away-team {
    display: flex;
    flex-flow: column;
}

footer {
    background-color: var(--primary-color-LR);
    height: 60px;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

#RS {
    display: flex;
    gap: 15px;
    a {
        color: var(--secondary-color-LR-ST);
    }
}

#footer-logo {
    justify-self: center;
}

#lang-flags {
    display: flex;
    gap: 15px;
}

#nav2 {
    display: flex;
    text-align: center;
    align-items: center;
}

#nav2 a {
    text-decoration: none;
    color: var(--secondary-color-LR-ST);
    font-family: 'Gontserrat', sans-serif;
    font-weight: 600;
    transition: color 0.2s ease;
    margin-inline: 10px;
    &:hover {
      color: #f2f2f2;
    }
}

@media (max-width: 768px) {
  #banner {
    height: 200px;
  }
  #nav1, #profil {
    display: none;
  }
}