:root {
    --primary-color-LR: #F2B705;
    --secondary-color-LR-ST: #0D0D0D;
    --secondary-color-LR-ST-contrasted: #211d1d;
    --tertiary-color-LR-ST: #f2f2f2;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color-LR);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 82px;
}

nav {
    display: flex;
    border: solid 2px var(--secondary-color-LR-ST);
    width: 365px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

nav a {
    font-family: Gontserrat;
    font-weight: bold;
}

nav a:hover {
    color: #f2f2f2;
}

nav a:not(:last-of-type) {
    border-right: solid 1px var(--secondary-color-LR-ST);
    padding-right: 10px;
    height: 35px;
    align-content: center;
}

header a{
    text-decoration: none;
    color: var(--secondary-color-LR-ST);
}

#logo  {
    height: 55px;
}

#profil {
    background-color: var(--secondary-color-LR-ST);
    color: var(--tertiary-color-LR-ST);
    border-radius: 10px;
    width: 84px;
    height: 25px;
    font-size: 1em;
    font-family: Gontserrat;
    border-style: none;
}

#profil:hover {
    background-color: var(--tertiary-color-LR-ST);
    color: var(--secondary-color-LR-ST);
}

#searchBar {
    width: 402px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px var(--secondary-color-LR-ST-contrasted)
}

#banner img {
    height: 274px;
}